{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Admin</title>
  <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
</head>
<body>
  <div class="dashboard-wrapper">

    <h1>Panel de Administración</h1>
    <p>Bienvenido, {{ request.user.username }}</p>

    <!-- GRID PRINCIPAL -->
    <div class="dashboard-grid">

      <!-- Clientes -->
      <div class="card">
        <h2>Clientes</h2>
        <ul>          
          <li><a href="{% url 'clientes_list' %}">Listar clientes</a></li>
        </ul>
      </div>

      <!-- Productos -->
      <div class="card">
        <h2>Productos</h2>
        <ul>
          <li><a href="{% url 'productos_create' %}">Crear producto</a></li>
          <li><a href="{% url 'productos_list' %}">Listar productos</a></li>
        </ul>
      </div>

      <!-- Pedidos -->
      <div class="card">
        <h2>Pedidos</h2>
        <ul>          
          <li><a href="{% url 'pedidos_list' %}">Listar pedidos</a></li>
        </ul>
      </div>


      <!-- Administradores -->
      <div class="card">
        <h2>Administradores</h2>
        <ul>
          <li><a href="{% url 'superuser_create' %}">Crear perfil de administrador</a></li>
          <li><a href="{% url 'superuser_list' %}">Listar administradores del sistema</a></li>
        </ul>
      </div>

    </div>

    <!-- LOGOUT -->
    <div class="logout mt-4">
      <a href="{% url 'homepage' %}" class="btn-logout">Cerrar sesión</a>
    </div>

  </div>
</body>
</html>
